protobuf
google-api-python-client
python-dotenv
pdfplumber
chromadb
pydantic-settings
fastapi
uvicorn[standard]
twilio
sqlalchemy
psycopg2-binary
google-cloud-aiplatform
python-jose[cryptography]
passlib
pydantic[email]
python-multipart
pdfplumber
alembic
pytz
google-auth-httplib2
google-auth-oauthlib